type cktnv, domain;
type cktnv_exec, exec_type, file_type;
diag_use(cktnv)
init_daemon_domain(cktnv)

unix_socket_connect(cktnv, qmuxd, qmuxd)

set_prop(cktnv, cktnv_prop)

allow cktnv qmuxd_socket:dir w_dir_perms;
allow cktnv qmuxd_socket:sock_file { create setattr getattr write unlink };
allow cktnv self:capability { dac_override dac_read_search fsetid };
